<div class="container">
<div class="col-md-6 offset-md-3">
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Dealer Name</label>
        <input type="text" class="form-control" id="dealerName"
        [(ngModel)]="dealer.dealerName" name="dealerName">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" id="email"
        [(ngModel)]="dealer.email" name="email">
    </div>
    <div class="form-group">
        <label>Contact Number</label>
        <input type="text" class="form-control" id="contactNumber"
        [(ngModel)]="dealer.contactNumber" name="contactNumber">
    </div>

    <button class ="btn btn-success" type="submit">Submit</button>
</form>
</div>
</div>
