
<nav class= "navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item">
          <a (click)="dealerList()" routerLinkActive="active" class="nav-link">Dealer list</a>
      </li>
      <li class="nav-item">
          <a (click)="addDealer()" routerLinkActive="active" class="nav-link">Add Dealer</a>
      </li>
  </ul>
</nav>
<h2>Dealer-List</h2><div>
<table class="table table-striped">
    <thead>
      <tr>
        
        <th>Dealer Name</th>
        <th>Dealer Email</th>
        <th>Contact Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let dealer of dealer">
        <td> {{dealer.dealerName}}</td>
        <td> {{dealer.email}}</td>
        <td>{{dealer.contactNumber}}</td>
        <td>
          <button (click)= "updateDealer(dealer.dealerId)"  class="btn btn-info">Update</button>
          <button (click)= "deleteDealer(dealer.dealerId)" style="margin-left: 10px" class="btn btn-danger">Delete</button>
          <button (click)= "dealerDetails(dealer.dealerId)" style="margin-left: 10px" class="btn btn-secondary">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
