
   
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <ul class="navbar-nav">
                <li class="nav-item navbar-brand">
                    <a (click)="clientList()" routerLinkActive="active" class="nav-link">Client List</a>
                </li>
                <li class="nav-item navbar-brand">
                    <a (click)="addClient()" routerLinkActive="active" class="nav-link">Add Client</a>
                </li>
                <li class="nav-item navbar-brand">
                    <a class="nav-link title" (click)="home()" routerLinkActive="active"><i class="fa fa-fw fa-home"></i> Home <span class="sr-only"></span></a>
                  </li>
            </ul>
        </nav>
        <h1> client list</h1>
    

<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td>{{ client.clientName }}</td>
                <td>{{ client.clientEmail }}</td>
                <td>{{ client.clientContact }}</td>
                <td><button class="btn btn-success" type="submit"
                        (click)="deleteClient(client.clientId);reloadComponent();">Delete</button>&nbsp;
                    <button class="btn btn-success" type="submit"
                        (click)="updateClient(client.clientId)">Update</button>
                </td>
            </tr>
        </tbody>

    </table>
