.background{
    background-image: url("https://www.biltmoreperiodontics.com/wp-content/uploads/2019/04/research-e1580482749471.jpg");
    /* height: 100%;  */

    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}
