<div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-info ">
        <!-- <div class="container-fluid"> -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li >
                    <button type="button" class="btn btn-success"(click)="Home()" routerLinkActive="active" class="nav-link">Home</button>
                </li>
                </ul>
                </div>
            </nav>
</div>

<div class="background">
<div class="card text-white bg-secondary mx-auto  " style="max-width: 30rem;">
<form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <p class="h4 mb-4">Contact us</p>
  
 
    <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
      class="form-control mb-4" placeholder="Name">
  
   
    <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
      class="form-control mb-4" placeholder="E-mail">
  
    
    <label>Subject</label>
    <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
      <option value="" disabled>Choose option</option>
      <option value="1" selected>Feedback</option>
      <option value="2">Report a bug</option>
      <option value="3">Feature request</option>
     
    </select>
  
    
    <div class="form-group">
      <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
        rows="3" placeholder="Message"></textarea>
    </div>
  
   
    <button class="btn btn-secondary" mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
      mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Send</button>
  
  </form>
 </div>
</div>
<div class="footer bg-info">
    <footer>@2021 copyright MedstoreApp</footer>
</div>