<div class="container">
<h3>Dealer Detail</h3>
<div>
    <div>
        <label> <b> Dealer Name:</b> </label>{{dealer.dealerName}}        
    </div>
    <div>
        <label> <b> Dealer Email:</b> </label>{{dealer.email}}        
    </div>
    <div>
        <label> <b> Dealer contact number:</b> </label>{{dealer.contactNumber}}        
    </div>
</div>