<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Welcome To Medstore app</h3>
        </div>

        <ul class="list-unstyled components">
                    <li>
                        <a class="nav-link title" (click)="Home()" routerLinkActive="active">Home</a>
                    </li>
                    <li>
                      <a class="nav-link title" (click)="clientList()" routerLinkActive="active"><i class="fa fa-fw fa-user"></i> Client</a>

                    </li>
                    <li>
                      <a class="nav-link title" (click)="bill()" routerLinkActive="active"><i class="fa fa-fw fa-home"></i> Generate Bill <span class="sr-only"></span></a>
                    </li>
                    <li>
                      <a class="nav-link title" (click)="dealer()" routerLinkActive="active"><i class="fa fa-fw fa-user"></i>Dealer</a>
                    </li>
                    <li>
                      <a class="nav-link title" (click)="products()" routerLinkActive="active"><i class="fa-capsules"></i> Product</a>
                    </li>
           
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg bg margin">
            <!-- <div class="container-fluid"> -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                        <a (click)="productList()" routerLinkActive="active" class="nav-link">Product list</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="addProduct()" routerLinkActive="active" class="nav-link">Add Product</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link title" (click)="Home()" routerLinkActive="active"><i class="fa fa-fw fa-home"></i> Home <span class="sr-only"></span></a>
                      </li>
                   
                </ul>
                </div>
            <!-- </div> -->
        </nav>
<div class="col-md-8 offset-md-2 card p-3 cardbg">
    <h3 class="text-center">Add Product</h3>
    <form (ngSubmit)='onSubmit()'>
        <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control"
             [(ngModel)]="product.prodName" name="Product name" >  
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control"
             [(ngModel)]="product.price" name="price per piece" >  
        </div>
        <div class="form-group">
            <label>Batch No.</label>
            <input type="number" class="form-control"
             [(ngModel)]="product.batchNo" name="Batch no." >  
        </div>
        <div class="form-group">
            <label>Manufacturer</label>
            <input type="text" class="form-control"
             [(ngModel)]="product.manufacturerName" name="Manufacturer Company" >  
        </div>
        <div class="form-group">
            <label>Mfg. Date </label>
            <input type="date" class="form-control"
             [(ngModel)]="product.mfgDate" name="mfg date" >  
        </div>
        <div class="form-group">
            <label>Expiry Date</label>
            <input type="date" class="form-control"
             [(ngModel)]="product.expdate" name="expdate" >  
        </div>
    
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
 </div>
</div>