
<router-outlet></router-outlet>

<!--sidebar content declaration -->
<!-- <head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

</head>
<div style="padding-left: 20px; position: center;">
     
  <button ejs-button id="toggle" class="e-btn e-info"class="btn btn-success" type="submit" (click)="fun()">toggle</button>

  </div> 
<ejs-sidebar id="default-sidebar" #sidebar>
 
    <div class="title"> <i class="fas fa-clinic-medical fa-briefcase-medical"></i> Apollo Medical</div>
     
    <ul class="navbar-nav ml-auto ">
        <li class="nav-item active">
          <a class="nav-link title" routerLink="home"><i class="fa fa-fw fa-home"></i> Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link title" routerLink="client/clients" routerLinkActive="active"><i class="fa fa-fw fa-user"></i> Client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link title"routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link title"routerLink="getall" routerLinkActive="active"><i class="fa-capsules"></i> Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link title"routerLink="dealer" routerLinkActive="active"><i class="fa fa-fw fa-user"></i>Dealer</a>
        </li>
      </ul>
        </ejs-sidebar> 
      -->
        <!--end of sidebar content declaration -->
     
        <!--main content declaration -->
     
      <!--   <div>
          <div class="container-fluid">
            <div class="row">
                <app-sidebar *ngIf="showSideBar; else toggleMenu" class="col-md-2 bg-dark" style="display:block; height: 100vh;"></app-sidebar>
                <ng-template #toggleMenu>
                    <div class="col-md-2" ejs-button><fa-icon [icon]="faBars" (click)="toggleSideBar()" style="cursor: pointer;"></fa-icon></div>
                </ng-template>
            </div>
        </div>
      -->
           
     
           
     
     
     
        <!--end of main content declaration -->
     