<div class="col-md-6 offset-md-3">
    <h2> Create Client</h2>
<form (ngSubmit) = "onSubmit()">
    <div class="form-group">
        <label>Client Name</label>
        <input type="text" class="form-control" id="clientName"
        [(ngModel)]="client.clientName" name="clientName">
    </div>
    <div class="form-group">
        <label>Client Contact</label>
        <input type="number" class="form-control" id="clientContact"
        [(ngModel)]="client.clientContact" name="clientContact">
    </div>
    <div class="form-group">
        <label>Client Email</label>
        <input type="email" class="form-control" id="clientEmail"
        [(ngModel)]="client.clientEmail" name="clientEmail">
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
</form>
</div>