
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Welcome To Medstore app</h3>
        </div>

        <ul class="list-unstyled components">
                    <li>
                        <a class="nav-link title" (click)="Home()" routerLinkActive="active">Home</a>
                    </li>
                    <li>
                      <a class="nav-link title" (click)="clientList()" routerLinkActive="active"><i class="fa fa-fw fa-user"></i> Client</a>

                    </li>
                    <li>
                      <a class="nav-link title" (click)="bill()" routerLinkActive="active"><i class="fa fa-fw fa-home"></i> Generate Bill <span class="sr-only"></span></a>
                    </li>
                    <li>
                      <a class="nav-link title" (click)="dealer()" routerLinkActive="active"><i class="fa fa-fw fa-user"></i>Dealer</a>
                    </li>
                   
             
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg bg margin">
            <!-- <div class="container-fluid"> -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                        <a (click)="productList()" routerLinkActive="active" class="nav-link">Product list</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="addProduct()" routerLinkActive="active" class="nav-link">Add Product</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link title" (click)="Home()" routerLinkActive="active"><i class="fa fa-fw fa-home"></i> Home <span class="sr-only"></span></a>
                      </li>
                   
                </ul>
                </div>
            <!-- </div> -->
        </nav>



       <h1 class="text-center"> Product list</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                  
                    <th>Product Name</th>
                    <th>Price per piece</th>
                    <th>Batch No.</th>
                    <th>Manufacturer Name</th>
                    <th>Manufactured On </th>
                    <th>Expiry Date</th>
                    <th>Actions</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                   
                    <td>{{product.prodName}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.batchNo}}</td>
                    <td>{{product.manufacturerName}}</td>
                    <td>{{product.mfgDate}}</td>
                    <td>{{product.expdate}}</td>
                    <td>
               
                        
                       <td><button class="btn btn-success" type="submit" (click)="redirectToEdit(product.productId)">Update</button>&nbsp;
                        <button class="btn btn-success" type="submit" (click)="redirectTodelete(product.productId)">Delete</button></td>
                    </tr>
                </tbody>
                
            </table>
   
</div>
</div>



    