<div class="col-md-8 offset-md-2 card p-3 bg-light">
    <h3 class="text-center">Edit Details</h3>
    <form (ngSubmit)='onSubmit()'>
        <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control"
             [(ngModel)]="product.prodName" name="Product name" >  
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control"
             [(ngModel)]="product.price" name="price per piece" >  
        </div>
        <div class="form-group">
            <label>Batch No.</label>
            <input type="number" class="form-control"
             [(ngModel)]="product.batchNo" name="Batch no." >  
        </div>
        <div class="form-group">
            <label>Manufacturer</label>
            <input type="text" class="form-control"
             [(ngModel)]="product.manufacturerName" name="Manufacturer Company" >  
        </div>
        <div class="form-group">
            <label>Mfg. Date </label>
            <input type="text" class="form-control"
             [(ngModel)]="product.mfgDate" name="mfg date" >  
        </div>
        <div class="form-group">
            <label>Expiry Date</label>
            <input type="text" class="form-control"
             [(ngModel)]="product.expdate" name="expdate" >  
        </div>
    
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>