/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
 
@import '../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css';

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #0000ff;
    text-align: center;
    color: white;



}