<div class="container md-form active-purple active-purple-2 mb-3">
    <input class="form-control" type="search"  aria-label="Search" [(ngModel)]="key" placeholder="Enter product name, manufacturername" mdbInput>
    <label ><button class="btn btn-success" (click)="searchdata(key)">Search</button></label>
  </div>
  <div class="container">
    <table class="table table-striped table-hover table-bordered table-success">
        <thead>
            <tr>
                <th>ProductId</th>
                <th>Product Name</th>
                <th>Price per piece</th>
                <th>Batch No.</th>
                <th>Manufacturer Name</th>
                <th>Manufactured On </th>
                <th>Expiry Date</th>
                <th>Actions</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.productId}}</td>
                <td>{{product.prodName}}</td>
                <td>{{product.price}}</td>
                <td>{{product.batchNo}}</td>
                <td>{{product.manufacturerName}}</td>
                <td>{{product.mfgDate}}</td>
                <td>{{product.expdate}}</td>
                <td><button (click)="addToBill(product)">Add</button></td>
                
            </tr>
        </tbody>
    </table>
  </div>


  <div id=bill>
 
 <form #invoiceForm="ngForm">
    <div class="container-fluid pt-2 mb-5">
        <div class="row">
            <div class="col-md-8">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h4 class="card-title">Customer Details</h4>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" >
                                        <!-- [ngClass]="{'is-invalid': invoiceForm.submitted && CustName.invalid}"
                                        [(ngModel)]="invoice.customerName" #CustName="ngModel" required> -->
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <textarea class="form-control"  row="3"></textarea>
                                        <!-- [ngClass]="{'is-invalid': invoiceForm.submitted && Address.invalid}"
                                        [(ngModel)]="invoice.address" #Address="ngModel" required></textarea> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email">Email ID</label>
                                    <input type="email" class="form-control" >
                                        <!-- [(ngModel)]="invoice.email" required> -->
                                </div>
                                <div class="form-group">
                                    <label for="contactNo">Contact No.</label>
                                    <input type="number" class="form-control" >
                                        <!-- [ngClass]="{'is-invalid': invoiceForm.submitted && ContactNo.invalid}"
                                        [(ngModel)]="invoice.contactNo" #ContactNo="ngModel" required> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mt-2">
                    <div class="card-body">
                        <h4 class="card-title d-flex justify-content-between">Order Details <button type="button"
                                class="btn btn-secondary" (click)="clear()">Clear</button></h4>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="25%">Product</th>
                                        <th width="25%">Price</th>
                                        <th width="25%">Quantity</th>
                                        <th width="25%">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of items">
                                        <td scope="row">
                                           <!--  <input type="text" class="form-control" id="prodName"
                                            [(ngModel)]="product.prodName" name="prodName"> -->{{ product.prodName }}
                                                <!-- [ngClass]="{'is-invalid': invoiceForm.submitted && ProductName.invalid}"
                                                id="productName" [(ngModel)]="product.name" #ProductName="ngModel"
                                                required> -->
                                        </td>
                                        <td>
                                           <!--  <input type="number" class="form-control" id="price"
                                            [(ngModel)]="product.price" name="price"> -->{{ product.price }}
                                                <!-- [ngClass]="{'is-invalid': invoiceForm.submitted && ProductPrice.invalid}"
                                                [(ngModel)]="product.price" #ProductPrice="ngModel" required> -->
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" >
                                                <!-- [ngClass]="{'is-invalid': invoiceForm.submitted && ProductQty.invalid}"
                                                [(ngModel)]="product.qty" #ProductQty="ngModel" required> -->
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button (click)="generateBill()">Generate Bill</button>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mt-2">
                    <div class="card-body">
                        <h4 class="card-title">Total Price</h4>
                        <div class="form-group">
                            <h3>{{ totalPrice }}</h3>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                
               <!--  <button type="button" class="btn btn-secondary btn-lg btn-block"
               >Download Invoice</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block"
                >Print
                Invoice</button>
            <button type="submit" class="btn btn-secondary btn-lg btn-block"
               >Open
                Invoice</button>
 -->
                <!-- <button type="button" class="btn btn-secondary btn-lg btn-block"
                    (click)="invoiceForm.valid ? generatePDF('download') : ''">Download Invoice</button>
                <button type="button" class="btn btn-secondary btn-lg btn-block"
                    (click)="invoiceForm.valid ? generatePDF('print') : ''">Print
                    Invoice</button>
                <button type="submit" class="btn btn-secondary btn-lg btn-block"
                    (click)="invoiceForm.valid ? generatePDF() : ''">Open
                    Invoice</button> -->
            </div>
        </div>
    </div>
</form>


</div>