<!-- 
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" routerLink="">Medical Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="clientList()" routerLinkActive="active">Client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"(click)="login()" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"(click)="product()" routerLinkActive="active">product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"(click)="dealer()" routerLinkActive="active">Dealer</a>
        </li>
      </ul>
    </div>
  </nav>

  

 -->
 
<!-- <router-outlet></router-outlet> -->

<!-- sidebar content declaration
<head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

</head>
<div style="padding-left: 20px; position: center;">
     
  <button ejs-button id="toggle" class="e-btn e-info"class="btn btn-success" type="submit" (click)="fun()">toggle</button>

  </div> 
<ejs-sidebar id="default-sidebar" #sidebar>
 
    <div class="title"> <i class="fas fa-clinic-medical fa-briefcase-medical"></i> MedStore</div>
     
    <ul class="navbar-nav ml-auto ">
        <li class="nav-item active">
          <a class="nav-link title" (click)="bill()" routerLinkActive="active"><i class="fa fa-fw fa-home"></i> Generate Bill <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link title" (click)="clientList()" routerLinkActive="active"><i class="fa fa-fw fa-user"></i> Client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link title" (click)="login()" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link title" (click)="product()" routerLinkActive="active"><i class="fa-capsules"></i> Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link title" (click)="dealer()" routerLinkActive="active"><i class="fa fa-fw fa-user"></i>Dealer</a>
        </li>
      </ul>
        </ejs-sidebar>  -->
       
        <!--end of sidebar content declaration -->
     
        <!--main content declaration -->
     
      <!--   <div>
          <div class="container-fluid">
            <div class="row">
                <app-sidebar *ngIf="showSideBar; else toggleMenu" class="col-md-2 bg-dark" style="display:block; height: 100vh;"></app-sidebar>
                <ng-template #toggleMenu>
                    <div class="col-md-2" ejs-button><fa-icon [icon]="faBars" (click)="toggleSideBar()" style="cursor: pointer;"></fa-icon></div>
                </ng-template>
            </div>
        </div>
      -->
           
     
           
     
     
     
  <!-- new side bar  -->
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Welcome To Medstore app</h3>
        </div>

        <ul class="list-unstyled components">
                    <li>
                        <a class="nav-link title" (click)="Home()" routerLinkActive="active">Home</a>
                    </li>
                    <li>
                      <a class="nav-link title" (click)="clientList()" routerLinkActive="active"><i class="fa fa-fw fa-user"></i> Client</a>

                    </li>
                    <li>
                      <a class="nav-link title" (click)="bill()" routerLinkActive="active"><i class="fa fa-fw fa-home"></i> Generate Bill <span class="sr-only"></span></a>
                    </li>
                    <li>
                      <a class="nav-link title" (click)="dealer()" routerLinkActive="active"><i class="fa fa-fw fa-user"></i>Dealer</a>
                    </li>
                    <li>
                      <a class="nav-link title" (click)="product()" routerLinkActive="active"><i class="fa-capsules"></i> Product</a>
                    </li>
              <li>
                <a href="#">About</a>
            </li>
         
                    <li>
                      <a class="nav-link title" (click)="LogOut()" routerLinkActive="active">LogOut</a>

                    </li>
                   
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
              <a class="nav-link title" (click)="contactus()" routerLinkActive="active">Contact Us</a> 
             </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-info margin">
            <!-- <div class="container-fluid"> -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                        <a (click)="productList()" routerLinkActive="active" class="nav-link">Product list</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="addProduct()" routerLinkActive="active" class="nav-link">Add Product</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link title" (click)="Home()" routerLinkActive="active"><i class="fa fa-fw fa-home"></i> Home <span class="sr-only"></span></a>
                      </li>
                   
                </ul>
                </div>
            <!-- </div> -->
        </nav>
        
      <h1 class="text-center"> Product list</h1>
      <table class="table table-striped">
          <thead>
              <tr>
                
                  <th>Product Name</th>
                  <th>Price per piece</th>
                  <th>Batch No.</th>
                  <th>Manufacturer Name</th>
                  <th>Manufactured On </th>
                  <th>Expiry Date</th>
                  <th>Actions</th>
                 
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
               
                <td>{{product.prodName}}</td>
                <td>{{product.price}}</td>
                <td>{{product.batchNo}}</td>
                <td>{{product.manufacturerName}}</td>
                <td>{{product.mfgDate}}</td>
                <td>{{product.expdate}}</td>
                <td>
           
                    
                   <td><button class="btn btn-success" type="submit" (click)="redirectToEdit(product.productId)">Update</button>&nbsp;
                    <button class="btn btn-success" type="submit" (click)="redirectTodelete(product.productId)">Delete</button></td>
                </tr>
            </tbody>
            
        </table>
    </div>



       

     